.container {
    --primary: #e5e5e5;
    --secondary: #428bca;
    --tertiary: #42adca;
}

.body {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    padding-top: 5em;
}

.header {
    width: 100%;
    height: 15em;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.header>h1 {
    font-family: 'Arial Rounded MT Bold', Arial, Helvetica, sans-serif;
    text-transform: none;
    text-align: center;
    color: var(--primary);
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 0.25em;
}

.subHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    font-size: 0.6em;
}

.subHeader1 {
    animation: slideUp 400ms cubic-bezier(0.28, -0.32, 0.58, 1.42) both;
}

.subHeader2 {
    animation: slideUp 400ms cubic-bezier(0.28, -0.32, 0.58, 1.42) both 300ms;
}

.subHeader3 {
    animation: slideUp 400ms cubic-bezier(0.28, -0.32, 0.58, 1.42) both 600ms;
}

.subHeader span {
    font-size: 2em;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.formTitle {
    margin-left: 0.5em;
    color: black;
}

.demoContainer {
    max-width: 820px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendarContainer {
    min-width: 390px;
    max-width: 800px;
    width: 100%;
    margin: 1em;
    padding: 0 10px;
}

.demoForm {
    background-color: lightgray;
    border: none;
    min-width: 374px;
    max-width: 820px;
    width: 100%;
    border-radius: 8px;
    margin: 1em;
    padding-bottom: 1em;
}

.codeBlock {
    background-color: #121212;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.codeBlock p {
    display: block;
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
    margin: 0;
    font-size: 1rem;
    color: aqua;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    margin: 3em 0;
    padding: 0 1em;
    width: 100%;
}

.detailsContainer p {
    margin-top: 0;
    font-size: 1.25em;
    font-weight: 250;
}

.detailsSection {
    margin: 1em 0;
}

.detailsTitle {
    font-family: 'Arial Rounded MT Bold', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: var(--secondary);
}

.aboutDesc {
    color: black;
}

.npmBlock {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.copyToClip {
    animation: copyToClip 500ms ease-out both;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 100%;
    min-height: 10em;
    background-color: var(--tertiary);
    padding: 3em 1em;
}

.footer a {
    text-decoration: none;
    cursor: pointer;
    color: #121212;
}

.crDetails {
    color: black;
}

@keyframes copyToClip {
    0% {
        transform: scaleY(1);
    }

    25% {
        transform: scaleY(1.2);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .header>h1 {
        font-size: 4em;
    }

    .subHeader {
        font-size: 1em;
    }

    .calendarContainer {
        padding: 0;
    }

    .demoForm {
        max-width: 820px;
    }
}

@media(min-width: 1210px) {
    .demoForm {
        max-width: 820px;
    }
}